= bootstrap_form_for(@video) do |f|
  - if @video.errors.any?
    #error_explanation
      %h2
        = pluralize(@video.errors.count, "error")
        prohibited this video from being saved:
      %ul
        - @video.errors.full_messages.each do |message|
          %li= message

  = f.text_field :url

  = f.text_field :timeline_id
  %camera{:id => 'MyFirstCamera', "data-app-id" => 'a-744ffa20-67b0-0133-bca8-22000bb743dd'}
  .actions
    = f.submit
